body {

    margin-right: 10%;
    margin-left: 10%;





    
    

    
    

    
    

    
    



    
}

.image {
    max-width: 400px;
    max-height: 500px;
    border: 5px dotted #59b1d1;
}

button {
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(147, 108, 141);
}

.intro {
    display: inline-flex;

}

.description{
    padding: 20px;

}
.name{
    margin: auto;

}

.button-container{
    margin: 10px;
    text-align: center;

}

.link{
    text-decoration: none;
    
}

.title-accordion{
    font-weight: bold;
}
